@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: auto;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  max-width: 1024px;
  background-color: white;
}

* {
  box-sizing: border-box;
}

#menu-toggle:checked + #menu {
  display: block;
}

.involved {
  background-image: linear-gradient(90deg, rgb(196, 28, 230),rgb(238, 17, 227));
  color: white;
  
}

.gradient {
    background: -webkit-linear-gradient(90deg, rgb(196, 28, 230),rgb(238, 17, 227));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
